# Model Configuration
# Poate fi 'ollama' sau 'google'
AI_PROVIDER=ollama

# Daca AI_PROVIDER este 'google', introdu aici cheia ta secreta de API
GOOGLE_API_KEY=your_google_api_key_here

# URL-ul de baza pentru containerul local de ollama
OLLAMA_BASE_URL=http://ollama:11434
